header {
    margin-bottom: 10px;
}

nav {
	text-align:center;
}
nav a {
	margin:20px;
}

body {
    text-align:center;
}

#SignIn {
	text-align: left;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
}

#Register{
	text-align: left;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
}
#book_form{
	text-align: left;
    padding: 10px;
    margin: 20px auto;
    width: 300px;
}
div {
    margin-bottom:20px;
}
table{
	width:50%;
	margin-left:25%;
	margin-right:25%
}
